<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEN API</title>
</head>
<body>
   <h1 style="text-align: center;">Welcome to the BEN API</h1>
    
        <div style="text-align: center;">
            <h3>Below are all the available endpoints for the website</h3>
            <a href="{% url 'core_api:list' %}">List Messages</a>  <br>
            <a href="{% url 'core_api:create' %}">Create Messages</a>  <br>
        </div>
    
</body>
</html>